*, 
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* primary colors */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    /* neutral colors */
    --Very-dark-blue : hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
html{
    font-size: 100%;
}
a{
    text-decoration: none;
    color: var(--White);
    transition: color .3s ease;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}
body{
    font-size: 1.125rem;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Very-dark-blue);
    min-height: 100vh;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh
}
/* Screen reader class to hide the content visually */
.sr-only {
    position: absolute !important;
    margin: -1px !important;
    -webkit-clip-path: inset(50%) !important;
            clip-path: inset(50%) !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}
main .card{
    max-width:21.875rem;
    height: fit-content;
    border-radius: 0.938rem;
    padding: 1.56rem;
    position: relative;
    background-color: var(--Very-dark-blue-card);
    position: relative;
    margin: 1.25rem;
}
/* styling the image and the overlay*/
main .image{
    position: relative;  
    width: 18.75rem;
    height: 18.75rem;
    overflow: hidden;
    display: block;
}
.card .image>img{
    border-radius: 10px;
}
.card .image::before{
    content: url(images/icon-view.svg);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(178deg 100% 50% / 60%);
    width: 100%;
    height: 100%;
    border-radius:0.625rem ;
    opacity: 0;
    cursor: pointer;
    transition: opacity .3s;
}
.card .image:hover::before{
    opacity: 1;
}
/* end styling the image and the overlay */

/* start styling the card body */
.card .title {
    margin: 1.4375rem 0 0.9375rem;
}
.card .title a {
    display: block;
    font-size: 1.4375rem;
    color: var(--White);
    font-weight: 600;
    transition: color .3s;
}
.card .title a:hover{
    color: var(--Cyan);
}
.card p{
    font-size: 1.125rem;
    color: var(--Soft-blue);
    font-weight: 400;
}
.card .info{
    margin: 1.4375rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.938rem;
}
.card .info>li {
    display: flex;
    align-items: center;
}
.card .price p{
    margin-left: 0.438rem;
    color: var(--Cyan);
}
.card .time-left p{
    margin-left: 0.438rem;
    color: var(--Soft-blue);
}
/* End styling the card body */
/* Start styling the creator part */
.card .creator{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid var(--Very-dark-blue-line);
    padding-top: 1.25rem;
    margin-bottom: 0.625rem;
}
.card .creator img{
    max-width: 2.1875rem;/*2.1875*/
    max-height: 2.1875rem;
    border: 1px solid var(--White);
    border-radius: 50%;
    margin-right: 1rem;
}
.card .creator figcaption,
.card .creator .creator__anchor{
    font-size: 1rem;
    font-weight: 400;
}
.card .creator figcaption p{
    display: inline;
    color: var(--Soft-blue);
}
.card .creator .creator__anchor:hover{
    color: var(--Cyan);
}
/* End styling the creator part */
/* Start styling the attriution */
.attribution { 
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.875rem; 
    line-height: 1.6;
    text-align: center; 
    color: hsl(0deg 0% 100% / 64%);
    width: 100%;
}
.attribution a { 
    color: var(--Soft-blue);
}
.attribution a:hover{
    color: var(--Cyan);
    transition: color .3s;
}
/* End styling the attribution */
@media screen and (max-width: 32rem){
    body {
        font-size: 0.94rem;
    }
    .attribution{
        display: none;
    }
}
